.stars {
  display: flex;

  & *:not(:last-of-type) {
    margin-right: 4px;
  }
}

.star {
  width: 17px;
  height: 17px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  &_active {
    background-image: url('../../../images/star.svg');
  }

  &_default {
    background-image: url('../../../images/star_default.svg');
  }
}