@import '../../assets/styles/styles.scss';

.searched {
  height: 100%;
  // max-height: calc(563 / 906 * 100%);
  display: flex;
  flex-direction: column;

  &__heading {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 17px;
    letter-spacing: -0.408px;
    color: $colMainText;

    &>span {
      margin: 0 5px;
      font-weight: 500;
      color: $colAccent;
    }
  }

  @media (max-width: $br3) {
    max-height: 500px;
  }
}

.hotels {
  padding-right: 14px;
  max-height: calc(100% - 40px);
  overflow-y: auto;

  // стили для скроллбара и трека
  &::-webkit-scrollbar {
    width: 2px;
    background: #E7E7E7;
  }

  &::-webkit-scrollbar-thumb {
    background: #41522E;
    border-radius: 2px;
  }
}

.hotels-placeholder {
  margin: auto;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  color: $colSecondaryText;
  text-align: center;
}