@import '../../../assets/styles/styles.scss';

.fieldset {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;

  &:not(:last-of-type) {
    margin-bottom: 24px;
  }
}

.label {
  font-weight: 300;
  @include adaptive-font(16, 14);
  margin-bottom: 7px;

  @include standartTransition(.3);

  &_error {
    color: $colError;
  }
}

// убирает стандартный дейтпикер хрома
.input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

.input {
  width: 100%;
  padding: 15px;
  border: 1px solid $colBorders;
  border-radius: 4px;

  @include standartTransition(.3);


  // &[type="date"] {
  //   border: 1px solid red;
  // }

  &_error {
    color: $colError;
  }

  @media (max-width: $br4) {
    padding: 10px;
  }
}

// .datepicker-wrapper {
//   width: 18px;
//   height: 18px;
//   position: absolute;
//   top: 55%;
//   right: 20px;
// }

.datepicker {
  width: 18px;
  height: 18px;
  // position: absolute;
  // top: 55%;
  // right: 20px;
  background: url('../../../images/calendar-today.svg');
  cursor: pointer;
  border-radius: 3px;
  @include standartTransition(.3);

  &:hover {
    background-color: $colBorders;
  }

  &__day {
    font-weight: 400 !important;
    font-size: 16px !important;
    line-height: 18px !important;
    color: #000000 !important;
  }

  &__picked-day {
    background: #41522E;
    border: 2px solid #41522E;
    border-radius: 4px;
  }
}

.input-error {
  position: absolute;
  left: 0;
  bottom: -20px;
  display: block;
  margin-top: 7px;
  font-size: 12px;
  line-height: 14px;
  color: $colError;

  opacity: 0;

  @include standartTransition(.3);

  &_active {
    opacity: 1;
  }
}