@import '../../../assets/styles/styles.scss';

.fieldset {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;

  &:not(:last-of-type) {
    margin-bottom: 24px;
  }
}

.label {
  font-weight: 300;
  @include adaptive-font(16, 14);
  margin-bottom: 7px;

  @include standartTransition(.3);

  &_error {
    color: $colError;
  }
}

.input-error {
  position: absolute;
  left: 0;
  bottom: -20px;
  display: block;
  margin-top: 7px;
  font-size: 12px;
  line-height: 14px;
  color: $colError;

  opacity: 0;

  @include standartTransition(.3);

  &_active {
    opacity: 1;
  }
}