@import '../../../assets/styles/styles.scss';

.form {
  @include contentBlock();
  align-items: space-between;
}

.heading {
  @include h1;
  text-align: center;
  margin-bottom: 32px;

  @media (max-width: $br4) {
    margin-bottom: 24px;
  }
}

.fields-block {
  margin-bottom: 32px;
}

.submit {
  @include button;
}