@import '../../../assets/styles/styles.scss';

.form {
  width: calc(409 / 1440 * 100vw);
  min-width: 280px;
  z-index: 10;
  @include contentBlock();
  align-items: space-between;
}

.heading {
  @include h1;
  text-align: center;
  margin-bottom: 32px;
}

.fields-block {
  margin-bottom: 32px;
}

.submit {
  @include button;
}