@import '../../assets/styles/styles.scss';

.error-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-weight: 500;
  font-size: 32px;
  line-height: 1.17;
  color: $colSecondaryText;
  text-align: center;
}