.slider-wrapper {
  width: 100%;
  height: 149px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 100%;
  height: 100%;
}

.slide {
  width: 164px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  overflow: hidden;
  cursor: grab;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}